# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
.idea/
**/__pycache__/
*.py[cod]
*.pyc

# Maven
target/

# Gradle
build
.gradle

# Log file
*.log
*.log*
**/log/
**/logs/

# out
**/out/
**/output/
**/outputs/

# data
**/data/
**/test/

# Mac
.DS_Store

# others
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/
**/example/
*bk.py

# database
*.db
